PORT=80
WECHAT_APPID=your_official_account_appid
WECHAT_SECRET=your_official_account_secret
WECHAT_AUTHOR=王皓月
WECHAT_ENABLE_COMMENT=true
WECHAT_ONLY_FANS_CAN_COMMENT=false
WECHAT_ENABLE_ORIGINAL_DECLARATION=true
